<main class="login" style="background-color: rgba(214, 205, 205, 0.616);"
<div class="row">
  <h6>Glad to have you back!</h6>
    <h2>Login</h2>
  <br>
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login"></label>
        <input class="form-input" type="text" placeholder="Enter username" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login"></label>
        <input class="form-input" type="password" placeholder="Enter password" id="password-login" />
      </div>
      <br>
      <div class="form-group">
        <button class="btn" id="submit"><a class="nav-link" href="dashboard">Login</a></button>
      </div>
    </form>
  </div>
</div>
</main>
<script src="/js/login.js"></script>
